/***
 * Color variables
 ***/
/***
 * Size variables
 ***/
/***
 * Main elements
 ***/
html {
  min-height: 100%;
}
body {
  font-family: "Open Sans", "Lato", sans-serif;
  background-color: #ffffff !important;
  color: #646464;
  font-size: 14px;
  margin-top: 50px;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 1280px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
}
/***
 * Regular elements
 */
.center {
  text-align: center;
}
.btn-primary {
  background-color: #3759a8;
  border-right: 8px solid #f58224;
}
.btn-primary:hover {
  border-right-color: #f58224;
}
ul,
ol,
li {
  text-align: left;
}
ol {
  counter-reset: item;
}
ol > li {
  text-indent: -2em;
  margin-top: 1em;
  list-style-type: none;
  counter-increment: item;
}
ol > li:before {
  display: inline-block;
  width: 1em;
  padding-right: 0.5em;
  font-weight: bold;
  text-align: right;
  content: counter(item) ".";
}
h1,
h2,
h3,
h4,
h5 {
  text-align: left;
}
h1 {
  text-align: center;
}
h1,
h3 {
  color: #3759a8;
}
h2,
h4 {
  color: #f58224;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.3em;
}
h4 {
  font-size: 1.2em;
}
.jumbotron {
  border-image: linear-gradient(to bottom, #3759a8, #ffffff) 1 1 0 1 stretch;
  background-color: #fafafa;
  color: #141414;
  font-size: 1.8em;
}
@media (max-width: 767px) {
  .jumbotron {
    border-image: linear-gradient(to bottom, #3759a8, #ffffff) 1 0 0 0 stretch;
  }
}
.jumbotron h1 {
  font-size: 1.6em;
}
@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 1.4em;
  }
}
.jumbotron h2 {
  font-size: 1.4em;
}
@media (max-width: 767px) {
  .jumbotron h2 {
    font-size: 1.3em;
  }
}
.jumbotron h3 {
  font-size: 1.3em;
}
@media (max-width: 767px) {
  .jumbotron h3 {
    font-size: 1.2em;
  }
}
.jumbotron h4 {
  font-sizr: 1.2em;
}
@media (max-width: 767px) {
  .jumbotron h4 {
    font-size: 1.0em;
  }
}
.jumbotron.construction {
  background: linear-gradient(to bottom, #f58224, #ffb577);
  border-image: none;
  color: #ffffff;
}
.jumbotron.construction h1,
.jumbotron.construction h2,
.jumbotron.construction h3,
.jumbotron.construction h4,
.jumbotron.construction h5 {
  color: #ffffff;
}
/***
 * Fixing jQuery UI Themes
 ***/
.ui-page-theme-a {
  background-color: inherit;
  text-shadow: none;
}
/***
 * Container elements
 ***/
#body {
  margin-top: -2px;
  color: inherit;
  min-height: 100%;
}
#body.relative-bottom {
  margin-bottom: 0;
}
#body.fixed-bottom {
  margin-bottom: 90px;
}
#body #header .navbar {
  min-height: 50px;
  background-color: #dbe4f9;
}
#body #header .navbar img {
  margin-top: -5px;
  margin-bottom: 2px;
  max-width: 100px;
  max-height: 35px;
}
#body #header .navbar .navbar-toggle {
  border-color: #f58224;
}
#body #header .navbar .navbar-toggle .icon-bar {
  background-color: #f58224;
}
#body #header .navbar .nav li.active,
#body #header .navbar .nav li > a:hover,
#body #header .navbar .nav li.active > a {
  background: #ffb577;
  color: #ffffff;
}
#body #header .navbar .nav li > a:focus {
  background: transparent;
}
#body #content {
  color: inherit;
  /*
    background-color: @content_background_color;
    box-shadow: 0 0 10px @gray;
    */
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 60px;
  text-align: justify;
}
#body #content #index {
  font-size: 1.6em;
}
#body #content #index > .row {
  margin-top: 0;
  margin-bottom: 0;
}
#body #content #index > .row:not(:first-child) {
  padding-top: 160px;
  padding-bottom: 160px;
}
@media (max-width: 767px) {
  #body #content #index > .row:not(:first-child) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
#body #content #index > .row .row {
  padding: 60px 30px;
}
@media (max-width: 1280px) {
  #body #content #index > .row .row {
    padding: 40px 10px;
  }
}
@media (max-width: 767px) {
  #body #content #index > .row .row {
    padding: 20px 0px;
  }
}
#body #content #index .intro {
  font-size: 1.2em;
}
#body #content #index .intro h1 {
  font-size: 1.6em;
}
#body #content #index .intro h1 img {
  width: 60px;
  display: inline-block;
}
@media (max-width: 767px) {
  #body #content #index .intro h1 img {
    display: block;
    margin: auto;
  }
}
#body #content #index .intro .row:not(:first-child) {
  font-size: 1.2em;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  #body #content #index .intro .row:not(:first-child) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
#body #content #index .patience {
  background: url('../imgs/downtown.jpg') no-repeat center center fixed;
  background-size: cover;
}
#body #content #index .patience .container > .row {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  color: #fafafa;
  padding: 60px;
}
@media (max-width: 1280px) {
  #body #content #index .patience .container > .row {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  #body #content #index .patience .container > .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}
#body #content #index .brain {
  background: #3759a8;
  color: #ffffff;
}
#body #content #index .brain .container > .row {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
#body #content #index .take-test {
  font-size: 1.4em;
}
#body #content #index .take-test h2 {
  font-size: 1.8em;
}
#body #content #index .take-test .btn {
  font-size: 1.2em;
}
#body #content img {
  width: 100%;
}
#body #content .section-header {
  border-top: 0px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, #ffffff 2%, #646464, #ffffff 98%) 1 0;
  text-align: center;
  font-weight: bold;
  font-size: 1.8em;
  padding: 4px;
  margin-bottom: 40px;
  margin-top: 20px;
}
#body #content .section-header:first {
  margin-top: 0;
}
#body #content .section-body .title {
  font-size: 1.4em;
  font-variant: titling-caps;
}
#body #footer {
  text-align: center;
  color: #3c3c3c;
  text-shadow: none;
  margin-bottom: 0;
  z-index: 100;
}
#body #footer > .row {
  padding-top: 10px;
  padding-bottom: 10px;
}
#body #footer .psi-blue {
  background: #dbe4f9;
}
#body #footer .psi-orange {
  background: linear-gradient(to bottom, #f58224, #ffb577);
}
#body #footer .attribution {
  padding-top: 12px;
  font-size: 0.8em;
  font-style: italic;
}
#body #footer.relative-bottom {
  position: relative;
}
#body #footer.fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
}
#body #footer a {
  color: #888888;
}
