<div id='animal-list' class='container'>
  <div class='row'>
    <div ng-repeat='animal in animals' >
      <a ui-sref='animal.view({id:animal.id})'>{{ animal.name | uppercase }}</a>
    </div>
  </div>
</div>