<div id='animal-view' class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1>{{ animal.name | uppercase }}s <small> lives on</small></h1>
      <ul>
        <li ng-repeat='planet in animal.planets'>{{ planet.name }}</li>
      </ul>
    </div>
  </div>
</div>