<div id='body'>

  <!-- Header -->
  <div id='header' class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button class="navbar-toggle" ng-click='collapse()' type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                brand
              </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-bar" uib-collapse='navbarCollapsed'>
              <ul class="nav navbar-nav">
                <li ng-class="isActive('index')">
                  <a ui-sref="index">Home</a>
                </li>
                <li ng-class="isActive('animal')">
                  <a ui-sref="animal.list">Animals</a>
                </li>
                <li ng-class="isActive('planet')">
                  <a ui-sref="planet.list">Planets</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>      
      </div>  
    </div>
  </div>

  <!-- Content -->
  <div id='content'>
    
    <div ui-view></div>

  </div>
</div>