<div id='planet-list' class='container'>
  <div class='row'>
    <div ng-repeat='planet in planets' >
      <a ui-sref='planet.view({id:planet.id})'>{{ planet.name | uppercase }}</a>
    </div>
  </div>
</div>