<div id='planet-view' class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h1>{{ planet.name | uppercase }} <small> contains</small></h1>
      <ul>
        <li ng-repeat='animal in planet.animals'>{{ animal.name }}</li>
      </ul>
    </div>
  </div>
</div>